# Ignore node_modules in all directories
node_modules/

# Ignore .env files in all directories
*.env

# Exclude other sensitive files or directories
lms/backend/node_modules/
lms/backend/*.env
lms/frontend/node_modules/
lms/frontend/*.env
